nav {
	display: block;
	background-color: #15161e;

	ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
		gap: 1rem;
		align-items: center;
		justify-content: end;
		flex-wrap: wrap;

		li.searchbar-area {
			flex-grow: 2;
		}

		.dropdown-trigger,
		a:not(.logo) {
			color: var(--accent-color);
			padding: 1rem;
			transition: background-color, color, ease, 200ms;
			display: inline-block;
			border-radius: 5px;
			corner-shape: notch;
			white-space: nowrap;
			text-transform: uppercase;

			&:hover,
			&.active {
				background-color: var(--accent-color);
				color: var(--background-color);
			}
		}
	}
}

.logo {
	font-size: 2rem;
	font-weight: bold;
	color: var(--accent-color);
	align-items: center;
	gap: 0.25rem;
	display: flex;
}

.nav-controls {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

@media (max-width: 992px) {
	.nav-controls {
		gap: 1rem;
	}
}

@media (max-width: 992px) {
	nav {
		ul {
			flex-direction: column;

			li {
				width: 100%;
				text-align: center;

				a:not(.logo) {
					width: 100%;
					background: #244;
					color: var(--foreground-color);
				}
			}

			.logo {
				justify-content: center;
			}

			.searchbar-area {
				display: none;
			}

			nn-dropdown {
				flex-basis: 100%;
				width: 100%;
				display: block;

				&,
				&.open {
					.dropdown-trigger {
						display: none;
					}

					.dropdown-content {
						display: flex;
						width: 100%;
						flex-direction: column;
						position: static;
					}
				}
			}
		}
	}
}
